.body {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #eeeded;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.header {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 8vh;
  max-width: none;
  min-height: 8vh;
  min-width: 100vw;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-logo-area {
  margin-left: 36px;
  font-size: 30px;
}

.main-content-search-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-width: 500px;
  margin-top: 0px;
  padding-top: 10px;
}

.top-icons {
  margin-right: 36px;
}

/* Below utility-page-wrap css has been substituted by Home-Profile.css */
/* .utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
} */

/* Below utility-page-content css has been substituted by Home-Profile.css */
/* .utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
} */

/* Below utility-page-form css has been substituted by Home-Profile.css */
/* .utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
} */

.main-content-search-bar-text-field {
  height: 35px;
  margin-bottom: 0px;
  border-radius: 40px;
  box-shadow: 1px 1px 3px 0 #000;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
}

.main-content-search-bar-search-button {
  display: none;
  width: 80px;
  height: 35px;
  padding: 0px;
  border-radius: 10px;
  background-color: #e98839;
  font-family: Exo, sans-serif;
  font-size: 13px;
  text-align: center;
}

.bottom-icon {
  width: 25px;
  height: 25px;
  margin-right: 0px;
  margin-left: 10px;
  font-size: 20px;
}

.footer {
  position: static;
  left: 0%;
  top: 0px;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 8vh;
  min-width: 100%;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  clear: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px none #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.bottom-company-info-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
  padding: 0px;
}

.bottom-org-info-text-area {
  margin-right: 0px;
  margin-left: 14px;
}

.borrom-indiv-info-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14.5px;
}

.main-content-right-sidebar-area {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: 50vh;
  margin: auto 6% auto 1%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px none #000;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: -3px 0 10px 0 rgba(31, 31, 31, 0.32);
}

.main-content-left-grid {
  width: 70%;
  height: 100vh;
  margin: 0px 1% 0px 6%;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 1px none #000;
  background-color: transparent;
}

.right-sidebar-list {
  display: none;
  height: auto;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-sidebar-upload-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 12px auto 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 8px;
  background-color: #642ddb;
  background-image: linear-gradient(117deg, #c02929, #f89121 51%, #6e2ce9), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: Exo, sans-serif;
  text-align: center;
}

.right-sidebar-upload-button:hover {
  box-shadow: -1px 1px 3px 0 #000;
}

.right-sidebar-mycontribution-button {
  width: 90%;
  margin: auto;
  border: 1px none #000;
  border-radius: 8px;
  background-color: #4715a3;
  background-image: linear-gradient(344deg, #511ab8, #fa901e 41%, #e74242 88%, #f01111 98%);
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: Exo, sans-serif;
  text-align: center;
}

.right-sidebar-mycontribution-button:hover {
  box-shadow: -1px 0 3px 0 #000;
}

.list-item-upload {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  border: 1px none #000;
}

.main-content-post-area {
  border: 1px none #000;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 3px 0 #000;
}

.main-content-post-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 7px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-content-post-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-content-post-view-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-content-post-list-view-button {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 18px;
  background-color: rgba(192, 29, 32, 0.95);
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: Exo, sans-serif;
  font-size: 14px;
}

.main-content-post-list-view-button:hover {
  box-shadow: -1px 1px 3px 0 #000;
}

.modal-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(110deg, rgba(19, 162, 167, 0.66), rgba(50, 18, 211, 0.64) 48%, rgba(71, 21, 163, 0.48));
  opacity: 0;
}

.grid-content-heading {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 19px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 33px;
  line-height: 33px;
}

.main-content-post-list-description {
  width: 0px;
  height: 0%;
  min-height: auto;
  min-width: 80%;
  margin: 7px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.grid-thumbnail {
  width: 40%;
  height: 40%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
}

.bottom-org-linkedin-logo-area {
  margin-right: 0px;
}

.bottom-indiv-info-area {
  margin-top: 15px;
  margin-right: 3%;
  margin-bottom: 15px;
}

.bottom-org-info-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.list-item-snf-button {
  width: 100%;
  height: 100%;
  margin-right: 15px;
}

.main-content-area {
  max-width: none;
  margin-top: 10vh;
  margin-right: auto;
  margin-left: auto;
}

.main-content-area-post-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-chat-system-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  margin-top: 10vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
}

.main-chat-friend-list-area {
  width: 30%;
  height: 100%;
  min-height: auto;
  min-width: 30%;
  margin-right: 0%;
  margin-left: 0px;
  padding-right: 0%;
  padding-left: 0%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none solid none none;
  border-width: 1px;
  border-color: #000 rgba(0, 0, 0, 0.62) #000 #000;
  border-radius: 0px;
}

.main-chat-box-area {
  display: block;
  width: 70%;
  height: 100%;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 1px none #000;
}

.main-chat-friend-search-bar-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 9%;
  max-height: 9%;
  min-height: 9%;
  min-width: 80%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.62);
  box-shadow: 1px 1px 2px 0 #8b8b8b;
}

.main-chat-friend-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: auto;
  height: 91%;
  min-height: 91%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom-left-radius: 10px;
}

.main-chat-box-header-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 9%;
  max-height: none;
  min-height: 9%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-top: 1px none rgba(0, 0, 0, 0.62);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.62);
  border-radius: 0px 10px 0px 0px;
  background-color: #e6e6e6;
  box-shadow: 1px 1px 2px 0 #8b8b8b;
}

.main-chat-text-body-area {
  overflow: scroll;
  height: 80%;
  min-height: 80%;
  padding-right: 2%;
  padding-left: 2%;
}

.main-chat-input-area {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 11%;
  max-height: 11%;
  min-height: 11%;
  min-width: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid none none;
  border-width: 0.5px 1px 1px;
  border-color: rgba(0, 0, 0, 0.62) #000 #000;
  border-bottom-right-radius: 10px;
  background-color: #e6e6e6;
  box-shadow: 1px -1px 2px 0 #8b8b8b;
}

.main-chat-friend-search-bar-input {
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 0px 0px 0px 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 0 #000;
  font-family: Montserrat, sans-serif;
}

.main-chat-friend-search-button {
  display: none;
}

.main-chat-friend-info {
  display: -ms-grid;
  display: grid;
  overflow: visible;
  width: 94%;
  max-width: 94%;
  min-width: 94%;
  margin: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 7px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border: 1px none #000;
}

.main-chat-friend-image-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-chat-friend-name-and-preview-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 50%;
  margin-right: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-chat-friend-message-date-area {
  width: 16%;
  margin-right: 2%;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
}

.main-chat-friend-list-flex-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px none #000;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0 #000;
}

.main-chat-friend-preview-area {
  width: 100%;
  min-width: 100%;
}

.main-chat-friend-name {
  position: static;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.main-chat-friend-preview-message {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.main-chat-header-friend-name-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-chat-header-delete-button-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-chat-header-friend-name {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  font-family: Montserrat, sans-serif;
  font-size: 190%;
}

.main-chat-delete-button {
  margin-top: 0px;
  margin-right: 20%;
  border-radius: 10px;
  background-color: #c02929;
  box-shadow: 1px 1px 3px 0 #000;
  font-size: 100%;
}

.main-chat-input-file-button-area {
  margin-right: 1%;
}

.main-chat-input-text-area {
  display: block;
  overflow: scroll;
  width: 82%;
  height: 85%;
  max-height: 85%;
  min-height: 85%;
  min-width: 82%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  background-color: #f5f5f5;
}

.main-chat-input-file-button {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #c02929;
  box-shadow: 1px 1px 3px 0 #000;
}

.main-chat-system-area-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  height: 80vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px none #000;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 3px 0 #000, 1px 1px 3px 0 #000;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-content-search-bar-area {
  margin-bottom: 8px;
  margin-left: 6%;
}

.main-content-right-sidebar-my-contribution-button-area {
  margin-right: 0px;
  margin-left: 0px;
}

.right-sidebar-my-contribution-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 12px auto 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 8px;
  background-color: #642ddb;
  background-image: linear-gradient(117deg, #c02929, #f89121 51%, #6e2ce9), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: Exo, sans-serif;
  text-align: center;
}

.right-sidebar-my-contribution-button:hover {
  box-shadow: -1px 1px 3px 0 #000;
}

.right-sidebar-filter-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 25vh;
  margin: 12px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 8px;
  background-color: #642ddb;
  background-image: linear-gradient(117deg, #c02929, #f89121 51%, #6e2ce9), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: Exo, sans-serif;
  text-align: center;
}

.right-sidebar-filter-box:hover {
  box-shadow: -1px 1px 3px 0 #000;
}

.main-chat-input-test-textfield {
  margin: 1% 1.5%;
}

@media screen and (max-width: 991px) {
  .header {
    max-width: none;
  }

  .top-icons {
    display: block;
  }

  .company-logo-text {
    /* width: auto; */
    /* height: auto; */
    padding: 20px 13px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 25px;
    line-height: 5px;
  }

  .main-content-search-bar-text-field {
    height: 35px;
    font-size: 13px;
  }

  .main-content-search-bar-search-button {
    height: 30px;
    font-size: 12px;
  }

  .bottom-icon {
    font-size: 18px;
    line-height: 18px;
  }

  .footer {
    width: 100%;
    max-width: none;
  }

  .borrom-indiv-info-text {
    font-size: 13.4px;
  }

  .main-content-right-sidebar-area {
    height: 460px;
    margin-right: 3%;
  }

  .main-content-left-grid {
    width: 76%;
    margin-left: 3%;
    grid-auto-flow: row;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .right-sidebar-list {
    width: 130px;
  }

  .right-sidebar-upload-button {
    width: 85%;
    height: 50px;
    font-size: 13.5px;
  }

  .right-sidebar-mycontribution-button {
    width: 100%;
    font-size: 10px;
  }

  .main-content-post-area {
    margin-left: 0px;
  }

  .main-content-post-list-view-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    height: 80%;
    min-height: 80%;
    min-width: 40%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
  }

  .grid-content-heading {
    font-size: 30px;
  }

  .main-content-post-list-description {
    font-size: 14px;
    line-height: 19px;
  }

  .bottom-indiv-info-area {
    position: relative;
    margin-left: 15px;
  }

  .bottom-org-info-text {
    font-size: 14px;
  }

  .main-content-area {
    margin-top: 7vh;
  }

  .main-content-area-post-list {
    margin-right: 0%;
    margin-left: 0%;
  }

  .main-content-search-bar-area {
    margin-left: 3%;
  }

  .right-sidebar-my-contribution-button {
    width: 85%;
    height: 50px;
    font-size: 13.5px;
  }

  .right-sidebar-filter-box {
    width: 85%;
    height: 300px;
    font-size: 13.5px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 500px;
  }

  .main-content-search-bar {
    width: 100%;
    max-width: none;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
  }

  .company-logo-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* width: 15%;
    min-width: 15%; */
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
    padding: 22px 8px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
  }

  .main-content-search-bar-text-field {
    font-size: 13px;
  }

  .footer {
    position: relative;
    display: block;
    width: 500px;
    padding: 5%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-company-info-area {
    display: block;
    margin-bottom: 8%;
    margin-left: 0%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-org-info-text-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .borrom-indiv-info-text {
    font-size: 13.8px;
  }

  .main-content-right-sidebar-area {
    position: static;
    height: auto;
    min-height: 8vh;
    min-width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }

  .main-content-left-grid {
    width: 90%;
    margin: 0px auto auto;
    grid-column-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .right-sidebar-list {
    width: auto;
    min-height: auto;
    min-width: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .right-sidebar-upload-button {
    height: 40px;
    font-size: 13.5px;
  }

  .main-content-post-area {
    margin-left: 0px;
  }

  .main-content-post-image {
    margin-bottom: 13px;
  }

  .main-content-post-list-view-button {
    font-size: 15px;
  }

  .grid-content-heading {
    font-size: 31px;
  }

  .main-content-post-list-description {
    font-size: 15px;
  }

  .grid-thumbnail {
    width: 34%;
  }

  .bottom-org-linkedin-logo-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-indiv-info-area {
    display: block;
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-indiv-info-text-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main-content-area {
    margin-top: 10vh;
  }

  .main-chat-system-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .main-chat-input-file-button-area {
    margin-left: 6px;
  }

  .main-chat-input-text-area {
    margin-right: 6px;
  }

  .main-content-search-bar-area {
    width: 90vw;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .right-sidebar-my-contribution-button {
    height: 40px;
    font-size: 13.5px;
  }

  .right-sidebar-filter-box {
    height: 130px;
    margin-bottom: 14px;
    font-size: 13.5px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    max-width: 300px;
    min-width: 100%;
  }

  .main-content-search-bar {
    display: block;
    padding-top: 7px;
  }

  .company-logo-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* width: 25%; */
    margin-right: auto;
    margin-bottom: 9px;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main-content-search-bar-text-field {
    height: 33px;
    margin-bottom: 10px;
    font-size: 12.5px;
  }

  .footer {
    width: 100%;
    margin-top: 7%;
    padding: 10% 5%;
  }

  .bottom-company-info-area {
    display: block;
    margin-right: auto;
    margin-bottom: 9%;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .right-sidebar-upload-button {
    height: 32px;
  }

  .main-content-post-list-view-button {
    font-size: 14px;
  }

  .grid-content-heading {
    font-size: 28px;
  }

  .main-content-post-list-description {
    font-size: 14px;
  }

  .grid-thumbnail {
    width: 30%;
  }

  .bottom-org-linkedin-logo-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-indiv-info-area {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .main-content-search-bar-area {
    display: block;
  }

  .right-sidebar-my-contribution-button {
    height: 32px;
  }

  .right-sidebar-filter-box {
    height: 80px;
  }
}

#w-node-0f24c5c18943-01d1a094 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

/* @font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype'), url('../fonts/fa-solid-900.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype'), url('../fonts/fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */